/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	color: #252b42;
	font-family: Montserrat;
	background-color: #fff;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-weight: 500;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 500;
}

/*----------------------------------------------------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	max-height: 100%;
	position: relative;
	overflow: hidden;
}

.content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}
.tabs {
	margin: 0px 0px 50px 0px;
}
.tabs__items {
	display: flex;
}
.tabs__item {
	flex: 0 1 33.333%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}
.tabs__item span{
	position: relative;
	z-index: 2;
}
.tabs__body {
}
.tabs__block {
	position: relative;
	padding: 20px;
	font-size: 18px;
	line-height: 24px;
	display: none;
	color: #fff;
}
.tabs__block::before{
	content: '';
	height: 50px;
	width: 33.333%;
	position: absolute;
	top: -50px;
}
.tabs__block:target{
	display: block;
}

.tabs__block:nth-child(1){
	background: #eb8698;
}
.tabs__block:nth-child(1)::before{
	background: #eb8698;
	left: 0;
}
.tabs__block:nth-child(2){
	background: #9278aa;
}
.tabs__block:nth-child(2)::before{
	background: #9278aa;
	left: 33.333%;
}
.tabs__block:nth-child(3){
	background: #97c67d;
}
.tabs__block:nth-child(3)::before{
	background: #97c67d;
	right: 0;
}

.text {
	font-size: 18px;
	line-height: 24px;
}

@media (max-width: 600px){
	.tabs__item span{
		display: block;
		width: 100px;
		word-spacing: nowrap;
		text-align: center;
		overflow: hidden;
		font-size: 14px;
		text-overflow: ellipsis;
	}
}